{% assign name       = include.name %}
{% assign thumbnail  = include.thumbnail %}
{% assign url        = include.url %}
{% assign positions  = include.positions %}
{% assign year       = include.year %}

<div class="card card-person">

  {% if thumbnail %}
    <div class="card-thumbnail">
      <a href="{{ url | relative_url }}">
        <img alt="{{ name }}" src="{{ thumbnail | relative_url }}"/>
      </a>
    </div>
  {% endif %}

  <div class="card-content">
    <div class="card-title">
      <h2>
        <a href="{{ url | relative_url }}">{{ name }}</a>
      </h2>
    </div>

    {% comment %}
      Look up the position for the 'year' we passed.
      Example: positions["2023"] might be "Team Lead".
    {% endcomment %}
    {% if positions and year %}
      {% assign position = positions[year] %}
      {% if position %}
      <div class="card-position">
        {{ position }}
      </div>
      {% endif %}
    {% endif %}
  </div>

</div>
