{% assign name = include.name %}
{% assign position = include.position %}
{% assign thumbnail = include.thumbnail %}
{% assign url = include.url %}

<div class="card card-person">

  {% if thumbnail %}
    <div class="card-thumbnail">
      <a href="{{ url | relative_url }}">
        <img alt="{{ name }}" src="{{ thumbnail | relative_url }}"/>
      </a>
    </div>
  {% endif %}

  <div class="card-content">
    <div class="card-title">
      <h2>
        <a href="{{ url | relative_url }}">{{ name }}</a>
      </h2>
    </div>

    {% if position %}
      <div class="card-position">
        {{ position }}
      </div>
    {% endif %}
  </div>

</div>
