.page-teams {
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .team-image {
      border-radius: 5px;
      overflow: hidden;
      img {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: contain;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .team-meta {
      flex: 1;
      h2 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
      }
      p {
        color: $black;
        text-transform: uppercase;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
      }
    }
    .team-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    background-color: $white-offset;
    padding: 30px;
    border-radius: 3px;
    .team-image {
      border-radius: 5px;
      overflow: hidden;
      img {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: contain;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
