---
layout: default
bodyClass: "page-teams"
---
<div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {% include framework/blocks/sections/heading.html
          title=page.title
          description=page.description
          %}
        </div>
      </div>
    </div>
</div>

{% assign cards = site.team %}
{% if cards.size > 0 %}
<div class="section pt-0">
  <div class="container">
    <div class="row">
        {% assign promoted_teams = site.team | where: "promoted", true | sort: "weight" %}
        {% for team in promoted_teams %}
        <div class="col-12 col-md-6 mb-2">
            <div class="team team-summary team-summary-large">
                {% if team.image %}
                <div class="team-image">
                    <img width="1000" alt="{{ team.title }}" class="img-fluid" src="{{ team.image | relative_url }}" />
                </div>
                {% endif %}
                <div class="team-meta">
                    <h2 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h2>
                    <p class="team-description">{{ team.jobtitle }}</p>
                    {% if team.linkedinurl %}
                    <a target="_blank" href="{{ team.linkedinurl }}" rel="noreferrer">LinkedIn</a>
                    {% endif %}
                </div>
                <div class="team-content">{{ team.content | truncate: 120 }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endif %}